<mat-toolbar class="jumbotron">
                <mat-toolbar-row>
                   <mat-icon class="example-icon">home</mat-icon>
                
                    <a mat-button >All Blogs</a>
                    
                    <a mat-button [routerLink]="'/myblogs'">My Blogs </a>
                  
                  <span class="example-spacer"></span>
                  <h3 >Hello {{username}}</h3>
                  <a mat-button (click)="userLogout()">Logout</a>
                </mat-toolbar-row>
                <mat-toolbar-row>
                        <input class="offset-md-9 col-md-3" type="text" #box (keyup)="onKey(box.value)" placeholder="search"/>
                </mat-toolbar-row>
</mat-toolbar>

<div class="container">
<div *ngFor="let post of posts" let i = "index" class="row">
        <div class="col-md-2">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img-thumbnail">
        </div>  
    <div class="col-md-2">{{post.title}}</div>
    <div class="col-md-8">{{post.content}}</div>
</div>
</div>



